# SQL QUERY

In [ ]:
SELECT *
FROM world.port_index
WHERE LAT_DEG > 15;

In [ ]:
SELECT *
FROM world.port_index
WHERE LONG_HEMI = 'E';

In [ ]:
SELECT *
FROM world.port_index
WHERE COUNTRY = 'VN' AND LAT_DEG > 15;

In [ ]:
SELECT *
FROM world.port_index
WHERE COUNTRY IN ('TR', 'VN');

In [ ]:
SELECT *
FROM world.port_index
WHERE COUNTRY = 'VN'
ORDER BY LONGITUDE DESC;

In [ ]:
SELECT *
FROM world.port_index
ORDER BY LATITUDE DESC
LIMIT 1;

In [ ]:
SELECT *
FROM world.port_index
WHERE COUNTRY IN ('TR', 'VN') AND LAT_DEG BETWEEN 10 AND 20;

In [ ]:
SELECT *
FROM world.port_index
WHERE COUNTRY = 'TR'
ORDER BY LONGITUDE ASC
LIMIT 1;

In [ ]:
SELECT COUNTRY, COUNT(*) AS PORT_COUNT
FROM world.port_index
GROUP BY COUNTRY
ORDER BY PORT_COUNT DESC;

In [ ]:
SELECT *
FROM world.port_index
WHERE PORT_NAME = 'TERN ISLAND' AND LONGITUDE < 0;

In [ ]:
SELECT AVG(LATITUDE) AS AVG_LATITUDE, AVG(LONGITUDE) AS AVG_LONGITUDE
FROM world.port_index
WHERE COUNTRY = 'TR';

In [ ]:
SELECT *
FROM world.port_index
ORDER BY CHART DESC
LIMIT 1;

In [ ]:
SELECT COUNTRY, SUM(CHART) AS TOTAL_CHARTS
FROM world.port_index
GROUP BY COUNTRY
ORDER BY TOTAL_CHARTS DESC;

In [ ]:
SELECT *
FROM world.port_index
WHERE COUNTRY = 'VN' AND LAT_DEG > 15 AND LONG_DEG > 109;

In [ ]:
SELECT AVG(LATITUDE) AS AVG_LATITUDE, AVG(LONGITUDE) AS AVG_LONGITUDE
FROM world.port_index
WHERE COUNTRY = 'TR';

In [ ]:
SELECT COUNTRY, COUNT(*) AS PORT_COUNT
FROM world.port_index
GROUP BY COUNTRY
HAVING COUNT(*) > 10;

In [ ]:
SELECT *
FROM world.port_index
ORDER BY ABS(LATITUDE - (SELECT AVG(LATITUDE) FROM world.port_index))
LIMIT 5;

In [ ]:
SELECT *
FROM world.port_index
ORDER BY ABS(LATITUDE - (SELECT AVG(LATITUDE) FROM world.port_index))
LIMIT 5;

In [ ]:
SELECT *
FROM world.port_index
WHERE REGION_NO = (SELECT REGION_NO FROM world.port_index WHERE PORT_NAME = 'AYVALIK' AND COUNTRY = 'TR');

In [ ]:
SELECT *
FROM world.port_index
WHERE REGION_NO = (SELECT REGION_NO FROM world.port_index WHERE PORT_NAME = 'AYVALIK' AND COUNTRY = 'TR');

In [ ]:
SELECT COUNTRY, SUM(CHART) AS TOTAL_CHARTS
FROM world.port_index
GROUP BY COUNTRY
ORDER BY TOTAL_CHARTS DESC
LIMIT 5;

In [ ]:
SELECT COUNTRY
FROM world.port_index
GROUP BY COUNTRY
HAVING COUNT(*) = SUM(CASE WHEN LAT_HEMI = 'N' THEN 1 ELSE 0 END);

In [ ]:
SELECT *
FROM world.port_index
WHERE COUNTRY = 'VN' AND CHART > (SELECT AVG(CHART) FROM world.port_index WHERE COUNTRY = 'VN');

In [ ]:
SELECT REGION_NO, AVG(LATITUDE) AS AVG_LATITUDE
FROM world.port_index
GROUP BY REGION_NO
ORDER BY AVG_LATITUDE DESC
LIMIT 1;

In [ ]:
SELECT *
FROM world.port_index
WHERE COUNTRY = 'VN' AND REGION_NO != (SELECT REGION_NO FROM world.port_index WHERE PORT_NAME = 'HAI PHONG' AND COUNTRY = 'VN');

In [ ]:
SELECT p1.*
FROM world.port_index p1
WHERE (p1.LATITUDE, p1.COUNTRY) IN (
    SELECT MAX(LATITUDE), COUNTRY
    FROM world.port_index
    GROUP BY COUNTRY
);

In [ ]:
SELECT COUNTRY
FROM world.port_index
GROUP BY COUNTRY
HAVING MIN(LAT_DEG * 60 + LAT_MIN) > 10 * 60;

In [ ]:
SELECT p1.*
FROM world.port_index p1
WHERE (p1.CHART, p1.REGION_NO) IN (
    SELECT MAX(CHART), REGION_NO
    FROM world.port_index
    GROUP BY REGION_NO
    HAVING AVG(CHART) > 150
);

In [ ]:
SELECT *
FROM world.port_index
WHERE COUNTRY = 'VN'
ORDER BY SQRT(POWER(LATITUDE - (SELECT LATITUDE FROM world.port_index WHERE PORT_NAME = 'DA NANG' AND COUNTRY = 'VN'), 2) + POWER(LONGITUDE - (SELECT LONGITUDE FROM world.port_index WHERE PORT_NAME = 'DA NANG' AND COUNTRY = 'VN'), 2))
LIMIT 5;

In [ ]:
SELECT p1.*
FROM world.port_index p1
WHERE (p1.CHART, p1.REGION_NO) IN (
    SELECT TOP 5 AVG(CHART), REGION_NO
    FROM world.port_index
    GROUP BY REGION_NO
    HAVING COUNT(*) > 2
    ORDER BY AVG(CHART) DESC
);

In [ ]:
SELECT *
FROM world.port_index
WHERE LATITUDE > (SELECT AVG(LATITUDE) FROM world.port_index) AND LATITUDE < (SELECT AVG(LATITUDE) FROM world.port_index WHERE COUNTRY = 'VN');

In [ ]:
SELECT p1.COUNTRY, p1.PORT_NAME, p2.PORT_NAME AS CLOSEST_PORT, 
       SQRT(POWER(p1.LATITUDE - p2.LATITUDE, 2) + POWER(p1.LONGITUDE - p2.LONGITUDE, 2)) AS DISTANCE
FROM world.port_index p1
JOIN world.port_index p2 ON p1.COUNTRY = p2.COUNTRY AND p1.PORT_NAME <> p2.PORT_NAME
WHERE p1.COUNTRY = 'VN'
AND SQRT(POWER(p1.LATITUDE - p2.LATITUDE, 2) + POWER(p1.LONGITUDE - p2.LONGITUDE, 2)) = (
    SELECT MIN(SQRT(POWER(p1.LATITUDE - p2.LATITUDE, 2) + POWER(p1.LONGITUDE - p2.LONGITUDE, 2)))
    FROM world.port_index p2
    WHERE p1.COUNTRY = p2.COUNTRY AND p1.PORT_NAME <> p2.PORT_NAME
)
ORDER BY COUNTRY, PORT_NAME;